$green: #CCD5AE;
$dark-green: #646b4c;
$grey-green: #a3a798;
$light-green: #E9EDC9;
$pale: #FEFAE0;
$light-pale: #f8f6ec;
$light-brown: #FAEDCD;
$brown: #D4A373;
$dark-brown: #895e33;
$text: #524f4b;
$inner-text: #a39676;