@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Inter&display=swap");

@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	-border-radius: $r;
}

@mixin bgGradient($color1, $color2) {
	background: $color1;
	background: -moz-linear-gradient(129deg, $color1 0%, $color2 77%);
	background: -webkit-linear-gradient(129deg, $color1 0%, $color2 77%);
	background: linear-gradient(129deg, $color1 0%, $color2 77%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Gloock", serif;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: $pale;
    margin:25px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $dark-green;
    border-radius: 3px;
    border: 0px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}