@import "colors";
@import "miscs";

body {
	height: 100vh;
	background-color: $dark-green;
	@include bgGradient($pale, $green);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif !important;
	color: $text;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: center;
	align-items: center;
	background-color: $dark-green;
	width: 70%;
	@include border-radius(15px);
	height: 60%;
	box-shadow: 0 0 15px 15px #646b4c2b;
}

.image-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
	img {
		width: 100%;
		height: 80%;
		object-fit: cover;
	}
}

.main-form {
	background-color: $pale;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 40px 50px;
	height: 100%;
	overflow: auto;

	h1 {
		text-align: center;
		font-size: 2.5rem;
		color: $dark-green;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 40px;

		h2 {
			color: $inner-text;
		}
	}
}

#customerInformation,
#deliveryDetails {
	margin-top: 40px;

	label {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 1.1rem;

		input {
			&::placeholder {
				color: $inner-text;
			}
		}
	}
}

#bouquetSelection {
    label {
        height: auto !important;
    }
}

#deliveryDetails {
    margin: 0;
	#deliveryDate {
		display: flex;
		flex-direction: column;
		width: 100%;

		div {
			display: flex;
			width: 100%;
			gap: 10px;

			select {
				width: 100%;

				&::-webkit-scrollbar-track {
					background: white;
				}
			}
		}
	}

	label[for="specialInstructions"] {
		margin-top: 20px;
	}
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    margin-top: 15px;
}

input, textarea{
	border-radius: 6px;
	border: {
		color: rgb(182, 172, 172);
		width: 1.5px;
		outline: none;
		style: solid;
	}
	font-size: 1rem;
	font-family: "Inter", sans-serif !important;
	color: $text;
	&::placeholder {
		color: $inner-text;
	}
    outline: none;
		padding: 15px;
}

select {
	@extend input;
	padding: 15px;
	text-align: center;
}
