@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gloock", serif;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #FEFAE0;
  margin: 25px;
}

*::-webkit-scrollbar-thumb {
  background-color: #646b4c;
  border-radius: 3px;
  border: 0px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

body {
  height: 100vh;
  background-color: #646b4c;
  background: #FEFAE0;
  background: linear-gradient(129deg, #FEFAE0 0%, #CCD5AE 77%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif !important;
  color: #524f4b;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  background-color: #646b4c;
  width: 70%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -border-radius: 15px;
  height: 60%;
  box-shadow: 0 0 15px 15px rgba(100, 107, 76, 0.168627451);
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.image-container img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-form {
  background-color: #FEFAE0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 40px 50px;
  height: 100%;
  overflow: auto;
}
.main-form h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #646b4c;
  margin-bottom: 40px;
}
.main-form form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-form form h2 {
  color: #a39676;
}

#customerInformation,
#deliveryDetails, #paymentInformation {
  margin: 0;
}
#customerInformation label,
#deliveryDetails label, #paymentInformation label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}
#customerInformation label input::-moz-placeholder, #customerInformation label select::-moz-placeholder, #deliveryDetails label input::-moz-placeholder, #deliveryDetails label select::-moz-placeholder, #paymentInformation label input::-moz-placeholder, #paymentInformation label select::-moz-placeholder {
  color: #a39676;
}
#customerInformation label input::placeholder, #customerInformation label select::placeholder,
#deliveryDetails label input::placeholder,
#deliveryDetails label select::placeholder, #paymentInformation label input::placeholder, #paymentInformation label select::placeholder {
  color: #a39676;
}

#bouquetSelection label {
  height: auto !important;
}

#deliveryDetails {
  margin: 0;
}
#deliveryDetails #deliveryDate {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#deliveryDetails #deliveryDate div {
  display: flex;
  width: 100%;
  gap: 10px;
}
#deliveryDetails #deliveryDate div select {
  width: 100%;
}
#deliveryDetails #deliveryDate div select::-webkit-scrollbar-track {
  background: white;
}
#deliveryDetails label[for=specialInstructions] {
  margin-top: 20px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 15px;
}

input, select, textarea {
  border-radius: 6px;
  border-color: rgb(182, 172, 172);
  border-width: 1.5px;
  border-outline: none;
  border-style: solid;
  font-size: 1rem;
  font-family: "Inter", sans-serif !important;
  color: #524f4b;
  outline: none;
  padding: 15px;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #a39676;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #a39676;
}

select {
  padding: 15px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */